{% extends "base.html" %}
{% load static %}

{% block title %} Story 5 {% endblock title %}

{% block head %}
<style>
body,
html {
    height: 100%;
}

.kegiatan-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.kegiatan-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
}

.kegiatan-card {
    background: red;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kegiatan-card h1 {
    margin: 0;
    text-align: center;
}

.kegiatan-card p {
    margin-top: 0px;
}

.kegiatan-tambah {
    margin-left: 20px;
}

.input-tambah {
    display: flex;
}

.input-tambah > input {
    flex: 1;
}

.tambah {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .kegiatan-list {
        display: initial;
        flex-direction: column;
    }

    .kegiatan-container {
        margin-top: 450px;
    }
}

</style>
{% endblock head %}

{% block content %}
<div class="kegiatan-container">
    <div class="kegiatan-list">
        {% for kegiatan in data %}
        <div class="kegiatan-card">
            <h1>{{ kegiatan.nama }}</h1> 
            <p>{{ kegiatan.desk }}</p>
            <ul>
                {% for peserta in kegiatan.peserta.all %}
                <li>{{ peserta.nama }} <a href="/story6/remove/{{ peserta.pk }}?kegi={{kegiatan.pk}}"><span>x</span></a></li>
                {% endfor %}
            </ul>
            <div class="input-tambah">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="nama">
                    <input type="hidden" name="id" value="{{ kegiatan.pk }}">
                    <input type="submit" value="+">
                </form>
            </div>
        </div>
        {% endfor %}
        <div >
            <form method="POST" class="tambah">
                {% csrf_token %}
                {{form}}
                {% if form %}
                <input type="submit" value="submit">
                {% endif %}
            </form>
        </div>
    </div>
    <div class="kegiatan-tambah">
        <a href="/story6/tambah"><button>+</button></a>
    </div>
</div>
{% endblock content %}
