:root {
    --basis-kiri: calc(100% - var(--basis-kanan));
    --basis-kanan: 60%;
    --width-container: 90%;
    --maxwidth-container: 1600px;
    --shade1: #fff07c;
    --shade2: #5d737e;
    --shade3: #f0f7ee;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Operator Mono;
    src: url("/static/story1/fonts/Operator Mono.otf");
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    font-family: "Operator Mono";

    max-width: var(--maxwidth-container);
    height: 100%;
    width: var(--width-container);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}

.box__fixed-wrapper {
    position: fixed;
    width: calc(var(--basis-kiri) - ((100% - var(--width-container)) / 2) + 1%);
    max-width: calc(40 / 100 * var(--maxwidth-container));
}

.box__wrapper {
    position: relative;
}

.box__header {
    font-size: calc(1.4rem + 2vw);
    font-weight: 400;
}

.box__subheader {
    font-size: calc(0.5rem + 1vw);
}

.box__navigation {
    display: flex;
    flex-direction: column;
    font-size: calc(0.6rem + 1vw);
    margin: 0.67em 0;
}

.box__navigation label a:before {
    content: "->";
}

input[name="navigation"] {
    display: none;
}

input[name="navigation"]:checked + a:before {
    content: "-->";
}

.box__socialcontainer > * {
    display: inline;
}

.box__socialcontainer {
    margin-bottom: 3rem;
    font-size: calc(0.5rem + 1vw);
}

.box__social {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.kiri {
    flex-basis: var(--basis-kiri);
    align-self: flex-start;
}

.kanan {
    flex-basis: var(--basis-kanan);
}

.page {
    height: 100vh;
}

.mahasiswa {
    background: var(--shade1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mahasiswa__content {
    display: flex;
    flex-direction: column;
}

.mahasiswa__contentcontainer {
    display: flex;
    background: var(--shade3);
}

.mahasiswa__contentcontainer ul {
    flex-basis: 50%;
    align-self: center;
    padding: 0 0.8rem;
}

.mahasiswa__contentcontainer ul li {
    list-style: none;
    font-size: 1.5rem;
    font-size: calc(0.4rem + 1.2vw);
}

.mahasiswa__contentheader {
    align-self: center;
    font-size: calc(1rem + 1.2vw);
    position: relative;
    z-index: 1;
    margin-top: 0;
}

.mahasiswa__contentheader:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 110%;
    height: 20px;
    background: var(--shade3);
    z-index: -1;
    transform: translateX(-50%);
    left: 50%;
}

.mahasiswa__contentimg {
    height: 300px;
    flex: 1;
    object-fit: cover;
}

.pendidikan {
    background: var(--shade3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendidikan__content {
    display: flex;
    flex-direction: column;
}

.pendidikan__contentheader {
    align-self: center;
    text-align: center;
    font-size: calc(1rem + 1.2vw);
    position: relative;
    z-index: 1;
    margin-top: 0;
}

.pendidikan__contentheader:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 110%;
    height: 20px;
    background: var(--shade1);
    z-index: -1;
    transform: translateX(-50%);
    left: 50%;
}

.pendidikan__contentcontainer ul li {
    list-style: none;
    font-size: 1.5rem;
    font-size: calc(0.4rem + 1.2vw);
}
