{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tailwind Starter Template</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            href="{% static 'story3/style.5d31f88f.css' %}"
            rel="stylesheet"
        />
    </head>
    <body>
        <div
            class="flex flex-col h-screen items-stretch md:flex-row md:items-stretch"
        >
            <nav
                class="flex flex-col self-center max-w-xs py-6 mx-8 md:self-stretch md:w-full lg:max-w-sm lg:h-full"
            >
                <div class="flex flex-col justify-between flex-1">
                    <div class="self-center">
                        <h1
                            class="inline-block text-2xl w-full pb-3 md:text-left md:text-5xl"
                        >
                            Halo,
                            <br />
                            nama saya
                            <br />
                            Zaky Bilfagih :)
                        </h1>
                        <p
                            class="hidden md:block text-xs md:text-base xl:text-lg"
                        >
                            Bisa dipanggil 'Zaky' atau 'Zakbil', suka bermain
                            tenis meja, senang membuat hal yang seru terutama
                            yang terkait dengan teknologi
                        </p>
                        <ul
                            class="flex flex-col text-lg md:text-xl xl:text-2xl mt-4"
                        >
                            <li><a href="#profil">Profil</a></li>
                            <li><a href="#riwayat">Riwayat Pendidikan</a></li>
                        </ul>
                    </div>
                    <div
                        class="flex text-lg md:text-xl xl:text-2xl self-center mt-6 md:self-start"
                    >
                        <p>Github</p>
                        <span class="px-2">|</span>
                        <p>Twitter</p>
                    </div>
                </div>
            </nav>
            <div class="bg-red-400 flex-auto overflow-y-scroll smooth">
                <div
                    class="flex flex-col container h-full w-full md:h-screen justify-center items-center bg-yellow-400"
                    id="profil"
                >
                    <h1 class="text-2xl mb-1">Profil</h1>
                    <div class="flex bg-gray-500">
                        <div class="flex items-center px-4 w-64">
                            <ul>
                                <li>Nama: Muhammad Zaky</li>
                                <li>NPM: 1906400002</li>
                                <li>Angkatan: 2019 Maung</li>
                                <li>Kampus: Universitas Indonesia</li>
                            </ul>
                        </div>
                        <img
                            src="{% static 'story3/prof.6961dcf1.jpg' %}"
                            alt=""
                            class="object-cover h-32 flex-1 w-32"
                        />
                    </div>
                </div>
                <div
                    class="bg-gray-300 flex flex-col container h-full w-full md:h-screen justify-center items-center"
                    id="riwayat"
                >
                    <h1 class="text-2xl mb-1">Riwayat Pendidikan</h1>
                    <div class="flex items-center px-4">
                        <ul>
                            <li>Universitas Indonesia (2019 - 2023)</li>
                            <li>SMAN 34 Jakarta (2016 - 2019)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
