html,
body {
    height: 100%;
}

.kelas_box {
    width: 400px;
    display: inline-block;
}

.kelas_header,
.kelas_info {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: cyan;
}

.kelas_title {
    display: flex;
    align-items: center;
}

.kelas_title span {
    align-self: flex-end;
}
