a,
a:active {
    color: inherit;
    text-decoration: none;
}

.nav {
    background: #663399;
}
.nav-container {
    color: white;
    display: flex;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-container ul {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-container ul > li {
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .nav-container h3 {
        display: none;
    }
}
