{% extends "base.html" %}
{% load static %}

{% block title %} My Profile {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'story1/css/index.css' %}" />
{% endblock head %}

{% block content %}
<div class="container">
    <div class="kiri">
        <div class="box__fixed-wrapper">
            <div class="box__wrapper">
                <div class="box">
                    <div class="box__heading">
                        <h1 class="box__header">
                            Halo,
                            <br />
                            nama saya <br /> <span>Zaky Bilfagih</span> :)
                        </h1>
                        <p class="box__subheader">
                            Bisa dipanggil 'Zaky' atau 'Zakbil', suka bermain
                            tenis meja, senang membuat hal yang seru terutama
                            yang terkait dengan teknologi
                        </p>
                    </div>
                    <div class="box__navigation">
                        <label for="nav_mahasiswa">
                            <input type="radio" name="navigation" id="nav_mahasiswa" checked />
                            <a href="#mahasiswa" onClick="handleClick(this)">
                                Profil
                            </a>
                        </label>
                        <label for="nav_pendidikan">
                            <input type="radio" name="navigation" id="nav_pendidikan" />
                            <a href="#pendidikan" onClick="handleClick(this)">
                                Riwayat Pendidikan
                            </a>
                        </label>
                    </div>
                    <div class="box__social">
                        <div class="box__socialcontainer">
                            <p><a href="https://github.com/mackarelfish" target="_blank">Github</a></p> |
                            <p><a href="https://twitter.com/zakybilfagih" target="_blank">Twitter</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kanan">
        <div class="page mahasiswa" id="mahasiswa">
            <div class="mahasiswa__content">
                <h1 class="mahasiswa__contentheader">Profil</h1>
                <div class="mahasiswa__contentcontainer">
                    <ul>
                        <li>Nama: <span>Muhammad Zaki</span></li>
                        <li>NPM: <span>190640002</span></li>
                        <li>Angkatan: <span>Maung 2019</span></li>
                        <li>Kampus: <span>Universitas Indonesia</span></li>
                    </ul>
                    <img src="{% static 'story1/img/prof.jpg' %}" alt="profile image" class="mahasiswa__contentimg">
                </div>
            </div>
        </div>
        <div class="page pendidikan" id="pendidikan">
            <div class="pendidikan__content">
                <h1 class="pendidikan__contentheader">Riwayat Pendidikan</h1>
                <div class="pendidikan__contentcontainer">
                    <ul>
                        <li>Universitas Indonesia <span>(2019 - 2023)</span></li>
                        <li>SMAN 34 Jakarta <span>(2016 - 2019)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
    // handle click a tag to trigger radio input
    function handleClick(e) {
        e.previousElementSibling.checked = true;
    }

    (() => {
        // get all content with class page
        const items = document.querySelectorAll(".page");
        const options = {
            root: null,
            rootMargin: "-50%",
            treshold: 1.0
        };
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    let id = entry.target.id;
                    let inp = document.querySelector(`#nav_${id}`);
                    inp.checked = true;
                }
            });
        }, options);

        items.forEach(item => {
            observer.observe(item);
        });
    })();

</script>
{% endblock script %}