{% extends "base.html" %}
{% load static %}

{% block title %} Story 5 {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'story5/css/main.css' %}">
{% endblock head %}

{% block content %}
<div>
    {% for item in data.data %}
    <div class="kelas_box">
        <div class="kelas_header">
            <div class="kelas_title">
                <h1><a href="/story5/{{ item.id }}">{{ item.nama }}</a></h1>
                <span>{{ item.sks }} sks</span>
            </div>
            <p>{{ item.semester }}</p>
        </div>
        <div class="kelas_content">
            <p>{{ item.deskripsi }}</p>
            <div class="kelas_info">
                <p>{{ item.dosen }}</p>
                <p>{{ item.kelas }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div>
        <form method="POST" style="display: flex; flex-direction: column; width: 50%; margin: 0 auto; min-width: 400px;">
            {% csrf_token %}
            {{ form }}
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</div>
{% endblock content %}