{% extends "base.html" %}
{% load static %}

{% block title %} Story 5 {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'story5/css/main.css' %}">
{% endblock head %}

{% block content %}
{% for item in data.data %}
<div>
    <div class="kelas_box">
        <div class="kelas_header">
            <div class="kelas_title">
                <h1>{{ item.nama }}</h1>
                <span>{{ item.sks }} sks</span>
            </div>
            <p>{{ item.semester }}</p>
        </div>
        <div class="kelas_content">
            <p>{{ item.deskripsi }}</p>
            <div class="kelas_info">
                <p>{{ item.dosen }}</p>
                <p>{{ item.kelas }}</p>
            </div>
        </div>
        <div>
            {% for item in data.data %}
            {% for tugas in item.tugas %}
            <p>>{{ tugas.nama }}</p>
            <p>{{ tugas.deskripsi }}</p>
            <p>{{ tugas.deadline }}</p>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}