<div class="nav">
    <div class="nav-container">
        <ul>
            <li><a href="{% url 'story1:index' %}">Story 1</a></li>
            <li><a href="{% url 'story3:index' %}">Story 3</a></li>
            <li><a href="{% url 'story5:index' %}">Story 5</a></li>
        </ul>
        <h3>NAVBAR INI DARI INCLUDE LHOOO</h3>
    </div>
</div>
